<app-menu></app-menu>
<br />
<br />
<h1>Impressum</h1>
<p>
  <img src="https://img.icons8.com/ios-glyphs/30/000000/github.png" />
  Created by Marcell Kiss, 2022
</p>

<h3>Lorem Ipsum</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a magna
  laoreet, convallis quam sed, eleifend nisl. Duis non eros velit. Mauris velit
  purus, ullamcorper quis ex vel, iaculis gravida sapien. Fusce fringilla sapien
  metus, sed scelerisque lorem tristique vitae. Curabitur vitae sollicitudin
  felis, vel venenatis justo. Integer vitae hendrerit libero. Ut sit amet massa
  lectus. Maecenas lacus nunc, vulputate eu dapibus et, rutrum vitae libero.
  Etiam sit amet ante leo. Proin in urna diam. Nulla ligula nulla, pulvinar quis
  nunc posuere, venenatis rutrum risus.
</p>
