<app-menu></app-menu>
<br />
<h1>Impressum</h1>
<br />
<h3>Links</h3>
<div class="image-and-link">
  <img src="https://img.icons8.com/ios-glyphs/30/000000/github.png" />
  <a target="_blank" href="https://github.com/marcellkiss/scully-example"
    >GitHub Link</a
  >
</div>
<div class="image-and-link">
  <img src="https://img.icons8.com/ios-glyphs/30/000000/cloud.png" />
  <a target="_blank" href="https://scully-example-cyan.vercel.app/"
    >Vercel Link</a
  >
</div>
<br />
<br />
<h3>By Marcell Kiss</h3>
<div class="owner">
  <div class="image-and-link">
    <img src="https://img.icons8.com/ios-glyphs/30/000000/domain.png" />
    <a target="_blank" href="https://marcell.tech">Website: marcell.tech</a>
  </div>
  <div class="image-and-link">
    <img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png" />
    <a target="_blank" href="https://twitter.com/marcelltech"
      >Twitter: @marcelltech</a
    >
  </div>
  <div class="image-and-link">
    <img src="https://img.icons8.com/ios-glyphs/30/000000/github.png" />
    <a target="_blank" href="https://github.com/marcellkiss"
      >GitHub: @marcellkiss</a
    >
  </div>
  <div class="image-and-link">
    <img src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png" />
    <a target="_blank" href="https://www.linkedin.com/in/marcellkiss/">
      LinkedIn</a
    >
  </div>
</div>
